@{
	ViewBag.Title = "Asana API";
}

@section featured {
<section class="featured">
	<div class="content-wrapper">
		<hgroup class="title">
			<h1>@ViewBag.Title.</h1>
			<h2>@ViewBag.Message</h2>
		</hgroup>
	</div>
</section>
}

Hello there <em>@(Website.Shared.Me.Name)</em>.<br />

<ol class="round">
	<li class="one">
		<h5>Simple Lists</h5>
		@Html.ActionLink( "Workspaces", "Index", "Workspaces" )
		@Html.ActionLink( "Tasks", "Index", "Tasks" )
		@Html.ActionLink( "Users", "Index", "Users" )
		@Html.ActionLink( "Projects", "Index", "Projects" )
	</li>
	<li class="two">
		<h5>Busy week?</h5>
		Did you get a lot accomplished this week? @Html.ActionLink( "Find out here", "Index", "BusyWeek" ).
	</li>
	<li class="three">
		<h5>Task lifespan</h5>
		
	</li>
</ol>